{
    "breathing": "breathing_heavily.wav",
    "chuckle": "chuckles.wav",
    "giggle": "giggle.ogg",
    "haha": "haha.wav",
    "pfft": "pfft.wav",
    "sigh": "sigh.wav",
    "sniffle": "sniffle.wav"
}
